[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
	branch = master
